<!doctype html>
<html ng-app="KalahGameApplication">
<head>
    <link rel="stylesheet" href="main.css">
    <script src="library/angular.min.js"></script>
    <script src="app.js"></script>

</head>
<body>
<div ng-controller="GameController as gameController">

  <!--  <h1>{{BUG}}</h1>-->

   <center> <div class="game-info">
        <b>Game status: </b> <span>{{ gameStatus}}</span> <br/>
        <b>Game Id : </b> <span>{{gameId}}</span> <br/>
        <b>Game Url : </b> <span>{{gameUrl}}</span> <br/>
    </div>
   </center>
    <br/>
    <br/>

    <h1 class="center game-over" ng-if="isGameOver">
         GAME OVER !
    </h1>

    <h1 class="center player" ng-if="winner">
        <b>Winner :</b> <span>{{winner}}</span>
    </h1>

    <h1 class="center player" ng-if="!winner">
        Turn: <span ng-show="activePlayer && !winner"> {{activePlayer}}</span>
    </h1>

    <br/>
    <br/>
    <div>
        <h1 class="center">Player B</h1>
        <br/>
        <table width="70%" align="center">
            <tbody>
            <tr align="center">
                <td></td>
                <td ng-repeat="pit in pitsB"><span ng-click='gameController.move(pit)' class="pink">{{pit.stone}}</span></td>
                <td></td>
            </tr>

            <tr align="center">
                <td><span class="house">{{houseBStone}}</span></td>
                <td colspan="6"><span class="kalah-text">KALAH</span></td>
                <td><span class="house">{{houseAStone}}</span></td>
            </tr>

            <tr align="center">
                <td></td>
                <td ng-repeat="pit in pitsA"><span ng-click='gameController.move(pit)' class="pink">{{pit.stone}}</span></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <br/>
        <h1 class="center">Player A</h1>
    </div>
    <br/>
    <h1 class="error-message center" ng-if="errorMessage ">{{errorMessage}}</h1>

</div>
</body>
</html>