<!doctype html>
<html ng-app="KalahGameApplication">
<head>
    <link rel="stylesheet" href="main.css">
    <script src="library/angular.min.js"></script>
    <script src="app.js"></script>

</head>
<body>
<div ng-controller="GameController as gameController">
    <h1>
        Game status: {{gameStatus}}
    </h1>

    <h1 ng-if="gameStatus == 'FINISH' ">
        <span ng-if="winner">Winner: {{winner}}</span>
    </h1>


    <h3>Game ID : {{gameId}} </h3>
    <h3>Game URL : {{gameUrl}} </h3>
    <h1 class="center">
        Turn: <span ng-show="activePlayer" style="color:mediumvioletred"> {{activePlayer}}</span>
    </h1>
    <br/><br/><br/>
    <div>
        <h1 class="center">Player B</h1>
        <br/>
        <table width="70%" align="center">
            <tbody>
            <tr align="center">
                <td></td>
                <td ng-repeat="pit in pitsB"><span ng-click='gameController.move(pit)' class="pink">{{pit.stone}}</span></td>
                <td></td>
            </tr>

            <tr align="center">
                <td><span class="house">{{houseBStone}}</span></td>
                <td colspan="6"><span class="kalah-text">KALAH</span></td>
                <td><span class="house">{{houseAStone}}</span></td>
            </tr>

            <tr align="center">
                <td></td>
                <td ng-repeat="pit in pitsA"><span ng-click='gameController.move(pit)' class="pink">{{pit.stone}}</span></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <br/>
        <h1 class="center">Player A</h1>
    </div>
    <br/>
    <h1 class="error-message center" ng-if="errorMessage ">{{errorMessage}}</h1>

</div>
</body>
</html>