<!DOCTYPE html>
<html data-ng-app="kalahApp">
<head>
    <title>Kalah Game</title>
    <link href='/style.css' rel='stylesheet' type='text/css'/>
</head>

<script src="/lib/angular.min.js"></script>

<body data-ng-controller="gameController">

<h1>
    Game status: {{game.gameStatus}}
</h1>

<h1 data-ng-if="game.gameStatus == 'FINISH' ">
    <span data-ng-if="game.winner == null">Draw</span>
    <span data-ng-if="game.winner != null">Winner: {{game.winner}}</span>
</h1>


<h1>Game ID : {{game.id}} </h1>
<h1 class="center">
    Turn: <span  data-ng-show="game.activePlayer" style="color:mediumvioletred"> Player {{game.activePlayer}}</span>
</h1>
<br/><br/><br/>
<div>
    <h1 class="center">Player B</h1>
    <br/>
    <table width="70%" align="center" >
        <tbody>
        <tr align="center">
            <td></td>
            <td data-ng-click='play(game.id, 2, 13)'><span class="pink">{{game.board.pits[13].stoneCount}}</span></td>
            <td data-ng-click='play(game.id, 2, 12)'><span class="pink">{{game.board.pits[12].stoneCount}}</span></td>
            <td data-ng-click='play(game.id, 2, 11)'><span class="pink">{{game.board.pits[11].stoneCount}}</span></td>
            <td data-ng-click='play(game.id, 2, 10)'><span class="pink">{{game.board.pits[10].stoneCount}}</span></td>
            <td data-ng-click='play(game.id, 2, 9)'><span class="pink">{{game.board.pits[9].stoneCount}}</span></td>
            <td data-ng-click='play(game.id, 2, 8)'><span class="pink">{{game.board.pits[8].stoneCount}}</span></td>
            <td></td>
        </tr>

        <tr align="center">
            <td><span class="blue">{{game.board.pits[14].stoneCount}}</span></td>
            <td colspan="6"><span style="font-size: 140px;">KALAH</span></td>
            <td><span class="blue">{{game.board.pits[7].stoneCount}}</span></td>
        </tr>

        <tr align="center">
            <td></td>
            <td data-ng-click='play(game.id, 2, 1)'><span class="pink">{{game.board.pits[1].stoneCount}}</span></td>
            <td data-ng-click='play(game.id, 2, 2)'><span class="pink">{{game.board.pits[2].stoneCount}}</span></td>
            <td data-ng-click='play(game.id, 2, 3)'><span class="pink">{{game.board.pits[3].stoneCount}}</span></td>
            <td data-ng-click='play(game.id, 2, 4)'><span class="pink">{{game.board.pits[4].stoneCount}}</span></td>
            <td data-ng-click='play(game.id, 2, 5)'><span class="pink">{{game.board.pits[5].stoneCount}}</span></td>
            <td data-ng-click='play(game.id, 2, 6)'><span class="pink">{{game.board.pits[6].stoneCount}}</span></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <br/>
    <h1 class="center">Player A</h1>
</div>
<br/>
<h1 style="color:red" class="center" data-ng-if="errorMessage ">{{errorMessage}}</h1>

<br/>
<br/>
<br/>
<br/>
<br/>


</body>


<script>
    var app = angular.module('kalahApp', [])
    app.controller('gameController', function ($scope, $http) {

        $http.post("/ui/games/").then(function (resp) {
            console.log(resp.data);
            $scope.game = resp.data;
        })

        $scope.play = function (gameId, playerId, pitId) {

            $scope.errorMessage = "";
            $http.put("/ui/games/" + gameId + "/pits/" + pitId + "").then(function (resp) {
                console.log(resp.data);
                $scope.game = resp.data;
                $scope.pits = resp.data.board.pits;

                $scope.total = 0
                angular.forEach(resp.data.board.pits, function (pit, key) {
                    $scope.total += pit.stoneCount;
                });

            }).catch(function (resp) {
                console.log(resp);
                $scope.errorMessage = resp.data.message;
            })
        }

    });
</script>

</html>

